
.herobanner{
margin-top: 80px;
background-color: antiquewhite;
}.primary-header {
    font-size: 50px;
    letter-spacing: 3px;
    font-weight: 600;
}

.primary-text {
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 300;
}
.gold-btn {
    background: transparent;
    border: 1px solid var(--axess-gold-2);
    padding: 10px 20px;
    border-radius: 5px;
    transition: .5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--axess-gold-2);
    margin: auto;
    text-decoration: none;
}
.border-color{
    border-right: 1px solid red;
}
.img-h{
    height: 180px;
  
}
.zoom-image:hover {
    transition: transform 0.3s ease-in-out;
    transform: scale(.9 );
  }
  
/* .zoom-container:hover .zoom-image {
    transform: scale(1.2); 
  } */
  .shadow{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  
  .buy-now-bt{
    text-decoration: none;
    color: antiquewhite;
    padding: 10px;
  }
  .buy-now{
    position: fixed;
    z-index: 989898;
    margin-left: 20px;
    top: 75px;
    width: 100px;
    height: 40px;
    animation: blink 2s 0s infinite;
  }
  .buy-now:hover{
    transform: scale(1.1);
  }

    
  @keyframes blink{
    0%,
    100%{
      background-color: #ce9206;
    }
    50%{
      background-color: rgb(8, 80, 2);
    }
  }
  